:root {
    /* Example of variables: Use like 'color: var(--white);' */
    --black: #000;
    --white: #fff;
    --beige1: #e1e2c4;
    --blue1: #b3c4cc;
    --blue2: #a2b6cb;
    --blue3: #657aa7;
    --orange: #e49931;
    --orange2: #ffd192;
    --grey: #424242;
    --grey2: #e7e7e7;
    --green: green;
    --green2: lightgreen;
    --red: red;
    --red2: lightcoral;
}

.main-body {
    /* Decide different fonts to use (provide sans-serif as a "fallback") */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.top-half, .bottom-half, .buttons {
    width: 100%;
    overflow:auto;
    border-radius: 0px;
    background-color: white;

}

.top-half {
    justify-content: center;
    align-items: center;
    height: 20%;
    border:none;
}

.bottom-half {
    padding-top:20px;
    height: 65%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    gap:8px;
}

.buttons {
    height: 20%;
    display:flex;
    flex-wrap:wrap;
    overflow: none;
}


.outer-div {
    margin-top: 50px;
    height: 700px;
    width: 600px;
    border-radius: 0px;
    /* border: 1px solid black; */
}

.booking_title {
    margin-bottom: 0px;
    padding-bottom:0px;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    font-style: italic;
}

.booking_sum { 
    list-style-type: none;
    font-size: 20px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap:0px;
    column-gap: 0px;
    max-block-size:0px;
    margin-top:0px;
    margin-left:17%;
}

.total_item1 {    
    max-block-size:20px;  
    font-weight: 500;
    margin-bottom: 0px;
    border-bottom: solid black 1px;
    color:var(--grey);
}

.total_item2 {    
    max-block-size:20px;  
    font-weight: 500;
    margin-bottom: 0px;
    margin-right:auto;
    border-bottom: solid black 1px;
    color:var(--grey);
}

.ntotal_item1 {    
    max-block-size:20px;  
    font-weight: 700;
    margin-bottom: 0px;
    border-bottom: solid black 1px;
}

.ntotal_item2 {    
    max-block-size:20px;  
    font-weight: 700;
    margin-bottom: 0px;
    margin-right:auto;
    border-bottom: solid black 1px;
}



img {
    height: 40px;
    width: 60px;
    align-self: center;
}


.field, .field2 {
    flex:1;
    gap: 0px;
    padding-left:8px;
    padding-right:8px;
    width:50%;
    filter: drop-shadow(2px 2px 1px var(--grey));
}

.field2 {
    flex: 0 0 96.5%;
}

.button_icon {
    width: 40px;
    height: 40px;
}


.cancel_ticket_label,
.modify_ticket_label,
.save_label {
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50%;
    background-color: rgb(238, 238, 238);
    /* background-color: #ffd192; */
    gap:7px;

    border: 2px solid transparent;

    font-size: 30px;
    font-weight: 400;

    border-radius: 30px;
}

.cancel_ticket_label {
    background-color: rgb(250, 83, 83);
}

.save_label {
    flex: 0 0 100%;
    width:100%;
    background-color: rgb(113, 151, 255);
}

.modify_ticket_label:hover,
.save_label:hover {
    /* background-color: rgb(255, 209, 146); */

    border: 2px solid grey;
    cursor:pointer;
}

.cancel_ticket_label:hover {
    border: 2px solid grey;
    cursor:pointer;
}

details {
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    align-self: center;
}

details > summary {
    margin:auto;
    font-size: 22px;
    width: 90%;
    height: 60px;
    display:flex;
    background:var(--blue1);
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 1px var(--grey));
    cursor: pointer;
}

details > summary > p {
    width:30%;
}

.sum_p {
    border-left: 1px solid grey;
    padding-left:8px;
    flex:1;
    font-weight: 500;
    margin-right:auto;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sum_total {
    font-size: 24px;
    text-align: right;
    padding-right:10px;
    font-weight: 600;
    margin-left:auto;
}

summary::after {
    padding-right: 8px;
    content: '➕';
}

details[open] > summary::after {
    padding-right: 8px;
    content: '➖';
}

details > p {
    margin:auto;
    padding: 7px;
    width: 86%;
    line-height: 28px;
    border-style: solid;
    border-color: grey;
    border-width: 0px 2px 2px 2px;
    border-radius: 0px 0px 5px 5px;
}

.active {
    background-color: var(--orange);
}

input[type="radio"] {
    width:20px;
    height:20px;
    margin:auto;
    margin-right:8px;
}

.confirm {
    visibility: hidden;
}