.ds-body {
    padding: 0px;
    margin: 0px;
}

.ds-top-half, .ds-bottom-half {
    width: 100%;
    height: 50%;
    overflow:scroll;
}

.ds-bottom-half {
    margin: 1px;
    overflow:scroll;
    border-radius: 0px;
    border: 1px solid black;
}

.ds-outer-div {
    height: 800px;
    width: 600px;
    border-radius: 0px;
    border: 2px solid black;
}
/*
.header nav,footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    height: 50px;
    width: 100%;
}*/
/*
button {
    color: black;
    border: 1px;
    /* border-color: white; */
    /* color: white; */
    /* text-decoration: none; */
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}*/

.trip-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    margin: 1px;
}

.single-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

.map-container {
    width: 40%;
}

