::root {
    /* Example of variables: Use like 'color: var(--white);' */
    --black: #000;
    --white: #fff;
}


.footer img, .header img {
    height: 30px;
    width: 30px;
}


.offset-img {
    padding-top: 3px;
}


.header {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.3rem;
    border: 1px solid black;
}

.footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 1px solid black;
}


.reset,.back,.confirm {
    font-size: 32px;
    max-width: 18rem; /* Have a width scaling with 12 times the base font size */
    font-weight: 600;
    height: 40px;

    background-color: #fff;
    border: 1px solid black;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}

.back {
    color: red;
}

.confirm {
    color: green;
}

/*
border radius and drop shadow
 */
