.main-body {
    /* Decide different fonts to use (provide sans-serif as a "fallback") */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.outer-box {
    width: 100%;
    height: 100%;
    overflow:scroll;
    border-radius: 0px;
    border: 1px solid black;
}

.outer-div {
    margin-top: 50px;
    height: 700px;
    width: 600px;
    border-radius: 0px;
    /* border: 1px solid black; */
}

