:root {
    /* Example of variables: Use like 'color: var(--white);' */
    --black: #000;
    --white: #fff;
    --beige1:#e1e2c4;
    --blue1:#b3c4cc;
    --blue2:#a2b6cb;
    --blue3:#657aa7;
    --orange:#e49931;
    --grey:#424242;
    --grey2:#e7e7e7;
}

.main-body {
    /* Decide different fonts to use (provide sans-serif as a "fallback") */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--grey2);
}

.header {
    border:none;
    border-radius:8px 8px 0px 0px;
}

.footer {
    border:none;
    border-radius:0px 0px 8px 8px;
}

.reset, .back, .confirm {
    border:none;
}

.title_sum {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    font-size: 25px;
}

.info_box {
    height:94%;
    overflow:auto;
}

.outer-box {
    padding:0;
    border:none;
    overflow:hidden;
    background-color: white;
}

.main_list {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    padding-left: 50px;

    filter: drop-shadow(2px 2px 1px var(--grey));
    background-color: var(--beige1);
    border-radius: 15px;
    padding-bottom:4px;
    padding-top:4px;
}

.sub_list {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    padding-left: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cost_box {
    background-color: var(--blue1);
    display: flex;
    height:6%;
    align-items: center;
    justify-content: right;
    line-height:200%;
}

.total_text {
    font-size: 24px;
    margin:0px;
    padding-right:25px;
    font-weight: 600;
}