.main-body {
    /* Decide different fonts to use (provide sans-serif as a "fallback") */
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.top-half{
    width: 100%;
    height: 800px;
    overflow:auto;
    border-radius: 0px;
    /*border: 1px solid rgb(10, 8, 8);*/
    background-color: white;
}

.outer-div {
    margin-top: 50px;
    height: 700px;
    width: 600px;
    border-radius: 0px;
    /* border: 1px solid black; */
}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    padding-left: 25px;
    
    
}

img {
    height: 40px;
    width: 60px;
    align-self: center;
}


.field {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    filter: drop-shadow(2px 2px 1px var(--grey));
}

.new_ticket_label img,
.modify_ticket_label img {
    width: 60px;
    height: 60px;
}


.new_ticket_label {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid black;
    display: flex;
    padding-left: 4px;
    gap: 5px;
    align-items: center;
    height: 120px;
    width: 400px;
    background-color: rgb(238, 238, 238);
    /* background-color: #ffd192; */

    font-size: 30px;
    max-width: 18rem; /* Have a width scaling with 12 times the base font size */
    font-weight: 400;

    border-radius: 10px;
}

.modify_ticket_label {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid black;
    display: flex;
    padding-left: 4px;
    gap: 5px;
    align-items: center;
    height: 120px;
    width: 400px;
    background-color: rgb(238, 238, 238);
    /* background-color: rgb(255, 209, 146); */

    font-size: 30px;
    max-width: 18rem; /* Have a width scaling with 12 times the base font size */
    font-weight: 400;

    border-radius: 10px;
}

.new_ticket_label:hover,
.modify_ticket_label:hover {
    background-color: rgb(255, 209, 146);
}

.logo_img {
    /*
    height: 150px;
    width: 300px;
    */
    height: 300px;
    width: 300px;
}

.back {
    display:none;
}

