.ds-body {
    /* Decide different fonts to use (provide sans-serif as a "fallback") */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.ds-top-half, .ds-bottom-half {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.ds-bottom-half {
    border-top: 1px solid darkslategray;
    background-color: #b3c4cc;
}


.ds-top-half {
    background-color: white;
}

.ds-outer-div {
    margin-top: 50px;
    height: 700px;
    width: 600px;
}

.ds-top-container, .ds-bottom-container {
    overflow:scroll;
}

.ds-top-container {
    width: 100%;
    height: 100%;
}

.ds-bottom-container {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px var(--grey));
    border: 1px solid black;
}

.trip-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

.single-item {
    p {
        margin: 10px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(238, 238, 238);
    filter: drop-shadow(1px 1px 1px var(--grey));
    border: 1px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
  }


