::root {
    /* Example of variables: Use like 'color: var(--white);' */
    --black: #000;
    --white: #fff;
}

.legend_box {
    width: 100%;
    display: flex;
    padding-bottom:10px;
    align-items:center;
    justify-content:center;
}

.legend {
    text-align:center;
}

.seat_container {
    width:100%;
    height:80%;
    display:flex;
    gap:20px;   
    align-items:center;
    justify-content: center;
}

.seat_column1 {
    width:30%;
    float:left;
}

.seat_column2 {
    width:30%;
    float:left;
}

input:empty {
    height:75px;
    width:75px;
}

input:checked {
    height:75px;
    width:75px;
}