::root {
    /* Example of variables: Use like 'color: var(--white);' */
    --black: #000;
    --white: #fff;
}

.footer img,
.header img {
    height: 30px;
    width: 30px;
}

.offset-img {
    padding-top: 3px;
}

.header {
    height: 50px;
    width: 600px;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    background-color: #b3c4cc;
}

.footer {
    height: 50px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    background-color: #b3c4cc;
}

.reset,
.back,
.confirm {
    font-size: 32px;
    max-width: 18rem; /* Have a width scaling with 12 times the base font size */
    font-weight: 600;
    height: 40px;

    background-color: #fff;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    cursor: pointer;

    border-radius: 20px;
}

.back {
    color: red;
    margin-left: 20px;
}

.confirm {
    color: green;
    margin-right: 20px;
}

/*
border radius and drop shadow
 */
