::root {
    /* Example of variables: Use like 'color: var(--white);' */
    --black: #000;
    --white: #fff;
}

.title_sum {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
}

.info_box {
    height:90%;
}

.outer-box {
    padding:0;
    overflow:auto;
}

.main_list {
    list-style-type: none;
    font-size: 20px;
    line-height: 30px;
    padding-left: 50px;
}

body {
    /* Decide different fonts to use (provide sans-serif as a "fallback") */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cost_box {
    border-top: 2px solid black;
    display: flex;
    justify-content: right;
}

.total_text {
    font-size: 25px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:1%;
    padding-right:5%;
    font-weight: bold;
}